{% load static %}
<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><h2>Stand Blog<em>.</em></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if home_active %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item {% if blog_active %}active{% endif %}">
                <a class="nav-link" href="{% url 'blog_entries' %}">Blog Entries</a>
            </li>
            <li class="nav-item {% if about_active %}active{% endif %}">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
            </li>
            <!-- <li class="nav-item {% if post_active %}active{% endif %}">
                <a class="nav-link" href="#">Post Details</a>
            </li> -->
            <li class="nav-item {% if contact_active %}active{% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled">{{ request.user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            {% else %}
            <li class="nav-item {% if signin_active %}active{% endif %}">
                <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>
            <li class="nav-item {% if signup_active %}active{% endif %}">
                <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </div>
    </nav>
</header>