{% load static %}
<section class="blog-posts grid-system">
    <div class="container">
    <div class="row">
        <div class="col-lg-8">
        <div class="all-blog-posts">
            <div class="row">
            <div class="col-lg-12">
                <div class="blog-post">
                    <div class="blog-thumb">
                        <div id="postCarousel{{ post.id }}" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for image in post.images.all %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ image.image.url }}" class="d-block w-100 carousel-img" alt="Image {{ forloop.counter }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#postCarousel{{ post.id }}" data-bs-slide="prev">
                                <i class="fa-solid fa-circle-chevron-left fa-2x text-white"></i>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#postCarousel{{ post.id }}" data-bs-slide="next">
                                <i class="fa-solid fa-circle-chevron-right fa-2x text-white"></i>
                            </button>
                        </div>
                    </div>
                <div class="down-content">
                    <span>{{ post.category }}</span>
                    <h4>{{ post.title }}</h4>
                    <ul class="post-info">
                    <li><a href="#">{{ post.author }}</a></li>
                    <li><a href="#">May 12, 2020</a></li>
                    <li><a href="#">10 Comments</a></li>
                    </ul>
                    <p>{{ post.description }}</p>
                    <div class="post-options">
                    <div class="row">
                        <div class="col-6">
                        <ul class="post-tags">
                            <li><i class="fa fa-tags"></i></li>
                            <li><a href="#">Best Templates</a>,</li>
                            <li><a href="#">TemplateMo</a></li>
                        </ul>
                        </div>
                        <div class="col-6">
                        <ul class="post-share">
                            <li><i class="fa fa-share-alt"></i></li>
                            <li><a href="#">Facebook</a>,</li>
                            <li><a href="#"> Twitter</a></li>
                        </ul>
                        </div>
                        <div class="d-flex justify-content-end">
                        <ul class="post-share d-flex gap-4 list-unstyled mb-0">
                            <li></li>
                            <li><a href=""><i class="fa-solid fa-pencil"></i></a></li>
                            <li><a href="{% url 'post_delete' post.slug %}"><i class="fa-solid fa-circle-minus"></i></a></li>
                        </ul>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item comments">
                <div class="sidebar-heading">
                    <h2>4 comments</h2>
                </div>
                <div class="content">
                    <ul>
                    <li>
                        <div class="author-thumb">
                        <img src="{% static 'assets/images/comment-author-01.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                        <h4>Charles Kate<span>May 16, 2020</span></h4>
                        <p>Fusce ornare mollis eros. Duis et diam vitae justo fringilla condimentum eu quis leo. Vestibulum id turpis porttitor sapien facilisis scelerisque. Curabitur a nisl eu lacus convallis eleifend posuere id tellus.</p>
                        </div>
                    </li>
                    <li class="replied">
                        <div class="author-thumb">
                        <img src="{% static 'assets/images/comment-author-02.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                        <h4>Thirteen Man<span>May 20, 2020</span></h4>
                        <p>In porta urna sed venenatis sollicitudin. Praesent urna sem, pulvinar vel mattis eget.</p>
                        </div>
                    </li>
                    <li>
                        <div class="author-thumb">
                        <img src="{% static 'assets/images/comment-author-03.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                        <h4>Belisimo Mama<span>May 16, 2020</span></h4>
                        <p>Nullam nec pharetra nibh. Cras tortor nulla, faucibus id tincidunt in, ultrices eget ligula. Sed vitae suscipit ligula. Vestibulum id turpis volutpat, lobortis turpis ac, molestie nibh.</p>
                        </div>
                    </li>
                    <li class="replied">
                        <div class="author-thumb">
                        <img src="{% static 'assets/images/comment-author-02.jpg' %}" alt="">
                        </div>
                        <div class="right-content">
                        <h4>Thirteen Man<span>May 22, 2020</span></h4>
                        <p>Mauris sit amet justo vulputate, cursus massa congue, vestibulum odio. Aenean elit nunc, gravida in erat sit amet, feugiat viverra leo.</p>
                        </div>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="sidebar-item submit-comment">
                <div class="sidebar-heading">
                    <h2>Your comment</h2>
                </div>
                <div class="content">
                    <form id="comment" action="#" method="post">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                        <fieldset>
                            <input name="name" type="text" id="name" placeholder="Your name" required="">
                        </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                        <fieldset>
                            <input name="email" type="text" id="email" placeholder="Your email" required="">
                        </fieldset>
                        </div>
                        <div class="col-md-12 col-sm-12">
                        <fieldset>
                            <input name="subject" type="text" id="subject" placeholder="Subject">
                        </fieldset>
                        </div>
                        <div class="col-lg-12">
                        <fieldset>
                            <textarea name="message" rows="6" id="message" placeholder="Type your comment" required=""></textarea>
                        </fieldset>
                        </div>
                        <div class="col-lg-12">
                        <fieldset>
                            <button type="submit" id="form-submit" class="main-button">Submit</button>
                        </fieldset>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        {% include 'base/sidebar.html' %}
    </div>
    </div>
</section>


<style>
    .carousel {
        cursor: ew-resize;
        user-select: none;
        -webkit-user-drag: none;
    }

    .carousel.grabbing {
        cursor: ew-resize;
    }

    .carousel-img {
        user-select: none;
        -webkit-user-select: none;
    }

    .post-share li a i {
        color: #aaa; 
        font-size: 18px;
        transition: color 0.3s ease, transform 0.3s ease;
    }

    .post-share li:nth-child(2) a:hover i {
        color: #1fc268;   /* yashil */
        transform: scale(1.2);
    }

    .post-share li:nth-child(3) a:hover i {
        color: #b91d2d;
        transform: scale(1.2);
    }

</style>

<script>
class UniversalSwipeCarousel {
    constructor(carouselElement, options = {}) {
        this.carousel = carouselElement;
        this.carouselInstance = new bootstrap.Carousel(this.carousel, {
            interval: false,
            wrap: true,
            ...options
        });
        
        this.threshold = options.threshold || 30;
        this.restraint = options.restraint || 100;
        this.allowedTime = options.allowedTime || 500;
        
        this.startX = 0; this.startY = 0; this.distX = 0; this.distY = 0;
        this.startTime = 0; this.isDragging = false;
        
        this.init();
    }
    
    init() {
        // Mouse events
        this.carousel.addEventListener('mousedown', (e) => this.handleStart(e, 'mouse'));
        this.carousel.addEventListener('mousemove', (e) => this.handleMove(e, 'mouse'));
        this.carousel.addEventListener('mouseup', (e) => this.handleEnd(e, 'mouse'));
        this.carousel.addEventListener('mouseleave', (e) => this.handleEnd(e, 'mouse'));
        
        // Touch events
        this.carousel.addEventListener('touchstart', (e) => this.handleStart(e, 'touch'), { passive: true });
        this.carousel.addEventListener('touchmove', (e) => this.handleMove(e, 'touch'), { passive: true });
        this.carousel.addEventListener('touchend', (e) => this.handleEnd(e, 'touch'), { passive: true });
        
        // Pointer events (universal)
        if ('PointerEvent' in window) {
            this.carousel.addEventListener('pointerdown', (e) => this.handleStart(e, 'pointer'));
            this.carousel.addEventListener('pointermove', (e) => this.handleMove(e, 'pointer'));
            this.carousel.addEventListener('pointerup', (e) => this.handleEnd(e, 'pointer'));
            this.carousel.addEventListener('pointercancel', (e) => this.handleEnd(e, 'pointer'));
        }
        
        // Drag va select oldini olish
        this.carousel.addEventListener('selectstart', (e) => e.preventDefault());
        this.carousel.addEventListener('dragstart', (e) => e.preventDefault());
        this.carousel.addEventListener('contextmenu', (e) => {
            if (this.isDragging) e.preventDefault();
        });
        
        // Keyboard
        this.carousel.addEventListener('keydown', (e) => this.handleKeyboard(e));
        this.carousel.setAttribute('tabindex', '0');
    }
    
    getEventCoords(e, type) {
        switch(type) {
            case 'mouse': return { x: e.clientX, y: e.clientY };
            case 'touch': return { x: e.touches[0].clientX, y: e.touches[0].clientY };
            case 'pointer': return { x: e.clientX, y: e.clientY };
            default: return { x: 0, y: 0 };
        }
    }
    
    handleStart(e, type) {
        if (type === 'mouse' && e.button !== 0) return;
        if (type === 'pointer' && !e.isPrimary) return;
        
        const coords = this.getEventCoords(e, type);
        this.startX = coords.x;
        this.startY = coords.y;
        this.startTime = new Date().getTime();
        this.isDragging = true;
        
        this.carousel.classList.add('grabbing');
        
        if (type === 'mouse') e.preventDefault();
    }
    
    handleMove(e, type) {
        if (!this.isDragging) return;
        
        const coords = this.getEventCoords(e, type);
        this.distX = coords.x - this.startX;
        this.distY = coords.y - this.startY;
        
        if (type === 'mouse') e.preventDefault();
    }
    
    handleEnd(e, type) {
        if (!this.isDragging) return;
        
        this.isDragging = false;
        this.carousel.classList.remove('grabbing');
        
        const elapsedTime = new Date().getTime() - this.startTime;
        
        if (elapsedTime <= this.allowedTime) {
            if (Math.abs(this.distX) >= this.threshold && Math.abs(this.distY) <= this.restraint) {
                if (this.distX < 0) {
                    this.carouselInstance.next(); // Chapga swipe
                } else {
                    this.carouselInstance.prev(); // O'ngga swipe
                }
            }
        }
        
        this.startX = 0; this.startY = 0; this.distX = 0; this.distY = 0;
    }
    
    handleKeyboard(e) {
        switch(e.key) {
            case 'ArrowLeft':
                e.preventDefault();
                this.carouselInstance.prev();
                break;
            case 'ArrowRight':
                e.preventDefault();
                this.carouselInstance.next();
                break;
        }
    }
}

// Barcha carousellar uchun avtomatik ishga tushirish
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.carousel').forEach(carousel => {
        new UniversalSwipeCarousel(carousel, {
            threshold: 30,      // Min swipe masofasi
            restraint: 100,     // Max vertikal harakat  
            allowedTime: 500    // Max swipe vaqti
        });
    });
});
</script>