{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Post Yaratish{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/image_preview.css' %}">
{% endblock %}

{% block content %}
{% include 'base/preloader.html' %}
{% include 'base/navbar.html' with blog_active=True %}
{% include 'base/page-heading.html' with page_name='Post Yaratish' comment='Postingiz orqali fikringizni bildiring!' %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-8">
            {% crispy form %}
        </div>
    </div>
</div>

{% include 'base/footer.html' %}
{% endblock content %}

{% block extra_js %}
<script src="{% static 'assets/js/image_preview.js' %}"></script>
{% endblock %}