{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Postni yangilash {% endblock title %}


{% block content %}

  {% include 'base/preloader.html' %}

  {% include 'base/navbar.html' with blog_active=True %}

  {% include 'base/page-heading.html' with page_name='Postni tahrirlash' comment='Postdagi kamchiliklarni tuztish' %}

  <style>
    .btn-custom {
      background-color: #f48840;
      color: #fff;
      transition: background-color 0.3s ease;
    }
    .btn-custom:hover {
      background-color: #ff7315;
      color: #fff;
    }
  </style>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-end mt-3">
            <button type="submit" class="btn btn-custom">Postni Yangilash</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  {% include 'base/footer.html' %}

{% endblock content %}

